@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
#app {
  font-weight: normal;
  width: 100%;
  height: 100%;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@layer utilities {
  .mio-scroll {
    &::-webkit-scrollbar {
      /*滚动条整体样式*/
      @apply w-[4px] duration-300 ease-in-out transition-all;
    }
    &::-webkit-scrollbar-thumb {
      /*滚动条里面小方块*/
      @apply cursor-pointer rounded-lg duration-150;
      background: rgba(0, 0, 0, 0.15);
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    }
    &::-webkit-scrollbar-track {
      /*滚动条里面轨道*/
      @apply rounded-lg;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
      background: rgba(255, 255, 255, 0.05);
    }
    &::-webkit-scrollbar-thumb:hover {
      /*滚动条整体样式*/
      @apply bg-[#18b7db];
    }
  }
}
